AnchorPane{
    -fx-background-color: grey;
    -fx-border-width: 5px;
    -fx-border-color: black;
}

Button {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-font-size: 15px;
}

TextFlow {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-background-color: yellow;
}

Pane{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 3px;
}

Label{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

ToolBar {
    -fx-border-color: black;
    -fx-border-width: 2px;
}